<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interfacciabili.benessere">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <application
        android:name=".control.BenessereInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Benessere">

        <activity
            android:name=".RestMeteo"
            android:parentActivityName=".ContapassiActivity" />
        <activity android:name=".GameMainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Animationss" />

        <!-- Activity cliente -->
        <activity android:name=".HomeCliente" />
        <activity
            android:name=".ClientFragmentContainer"
            android:parentActivityName=".HomeCliente" />
        <activity
            android:name=".ContapassiActivity"
            android:parentActivityName=".ClientFragmentContainer" />
        <activity
            android:name=".EquipmentsActivity"
            android:parentActivityName=".ClientFragmentContainer" />
        <activity
            android:name=".ShoppingList"
            android:parentActivityName=".ClientFragmentContainer" />
        <activity
            android:name=".ProfiloUtenteActivity"
            android:parentActivityName=".HomeCliente" />
        <activity android:name=".AperturaTornello" />

        <!-- Activity dietologo -->
        <activity android:name=".HomeDietologo" />
        <activity android:name=".ModificaProfiloDietologo"
            android:parentActivityName=".HomeDietologo"></activity>
        <activity
            android:name=".InserimentoAlimento"
            android:parentActivityName=".InserimentoDieta" />
        <activity
            android:name=".RichiesteDietologo"
            android:theme="@style/Theme.Benessere" />
        <activity
            android:name=".DettagliRichiesta"
            android:parentActivityName=".RichiesteDietologo" />
        <activity
            android:name=".InserimentoDieta"
            android:parentActivityName=".HomeDietologo" />
        <activity
            android:name=".DettagliCliente"
            android:parentActivityName=".HomeDietologo" />
        <activity
            android:name=".RicercaCliente"
            android:parentActivityName=".HomeDietologo" />
        <!-- Activity coach -->
        <activity android:name=".HomeCoach" />
        <activity
            android:name=".InserimentoScheda"
            android:parentActivityName=".HomeCoach" />
        <activity
            android:name=".InserimentoAllenamento"
            android:parentActivityName=".InserimentoScheda" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login_Coach" />
        <activity android:name=".Login_Benessere" />
        <activity android:name=".Login_Diet" />
        <activity android:name=".Register_Main" />
        <activity android:name=".Register_benessere" />
        <activity android:name=".Register_coach" />
        <activity android:name=".Register_dietologo" />

        <service
            android:name=".control.DatabaseService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".control.AlertReceiver" />
        <receiver android:name=".GameMainActivity">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.interfacciabili.benessere"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>