<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interfacciabili.benessere">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme">
        <activity android:name=".GameMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeDietologo" />
        <activity android:name=".DettagliRichiesta" />
        <activity android:name=".RichiesteDietologo" />
        <activity android:name=".DietaCliente" />
        <activity android:name=".InserimentoDieta" />
        <activity
            android:name=".DettagliCliente"
            android:parentActivityName=".HomeDietologo" />
        <activity
            android:name=".RicercaCliente"
            android:parentActivityName=".HomeDietologo" />
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".AperturaTornello" />
        <activity android:name=".Login_Coach" />
        <activity android:name=".Login_Benessere" />
        <activity android:name=".Login_Diet" />
        <activity android:name=".Register_Main" />
        <activity android:name=".Register_benessere" />
        <activity android:name=".Register_coach" />
        <activity android:name=".Register_dietologo" />

        <service
            android:name=".control.DatabaseService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver android:name=".GameMainActivity">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>